
.container {
  display: flex;
  width: 80%;
  padding: 15px 0;
  margin: 0 auto;
  border: red 1px solid;
  flex-wrap: wrap;
}

img {
  padding: 25px;
}

input {
  width: 250px;
  height: 30px;
  margin: 0 auto;
  border-radius: 5px;
}
